BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
LineEnding: LF
ColumnLimit: 0
BreakBeforeBraces: Allman
PointerAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
